input[type=checkbox]:not(old),
input[type=radio]:not(old) {
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
    display: inline-block;
    margin-left: -2em;
    line-height: 33px;
}

input[type=checkbox]:not(old) + label > div,
input[type=radio]:not(old) + label > div {
    line-height: 20px;
}

input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 9.5em !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset !important;
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    padding: 1px;
    vertical-align: middle !important;
    margin: -3px 5px 0 0;
    cursor: pointer;
    line-height: 33px;
}

.karatbars-site input[type=radio]:not(old) + label > span {
    border: 1px solid #999 !important;
    background: #fff none repeat scroll 0 0 !important;
}

.karatgold-site input[type=radio]:not(old) + label > span {
    border: solid #808080 1px !important;
    background: #51555F !important;
}

input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 3px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .2) !important;
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: text-bottom;
    margin: -9px 0 0 0 !important;
    line-height: 33px;
}

.karatbars-site input[type=checkbox]:not(old) + label > span {
    border: solid #999 1px !important;
    background: #fff !important;
}

.karatgold-site input[type=checkbox]:not(old) + label > span {
    border: solid #808080 1px !important;
    background: #51555F !important;
}

.checkbox-small-version input[type=checkbox]:not(old) + label > span {
    width: 20px;
    height: 20px;
    margin: -3px 5px -4px !important;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=checkbox]:not(old):checked + label > span:before {
    content: '✓';
    display: block;
    width: 33px;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    text-shadow: 0 0 0.0714em rgb(115, 153, 77);
    font-weight: bold;
    border-radius: 4px !important;
    padding-left: 2px !important;
    margin-left: -1px !important;
    margin-top: -1px !important;
    margin-bottom: -1px !important;
}

.karatbars-site input[type=checkbox]:not(old):checked + label > span:before {
    color: green;
    border: 2px #5D933A solid !important;
}

.karatgold-site input[type=checkbox]:not(old):checked + label > span:before {
    color: #03d003;
    border: 2px #808080 solid !important;
}

.checkbox-small-version input[type=checkbox]:not(old):checked + label > span:before {
    width: 20px;
    line-height: 16px;
    height: 20px;
    font-size: 16px;
}

input[type=radio]:checked + label > span > span {
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #999 !important;
    border-radius: 3.5em !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset !important;
    background: #6aac45 none repeat scroll 0 -36px !important;
    background-image: -webkit-linear-gradient(rgb(34, 139, 34), rgb(50, 205, 50));
    background-image: linear-gradient(rgb(34, 139, 34), rgb(50, 205, 50));
    vertical-align: middle !important;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px !important;
}
